Adafruit-Blinka==8.35.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-connectionmanager==1.0.1
adafruit-circuitpython-dht==4.0.4
adafruit-circuitpython-requests==3.2.0
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
black==24.3.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
flake8==7.0.0
idna==3.6
isort==5.13.2
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
pycodestyle==2.11.1
pyflakes==3.2.0
pyftdi==0.55.0
pyserial==3.5
python-dotenv==1.0.1
pyusb==1.2.1
requests==2.31.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
sysv-ipc==1.1.0
tomli==2.0.1
typing-extensions==4.10.0
urllib3==2.2.1
